In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import statsmodels.tsa.filters.hp_filter as hpfilter
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [2]:
start_year = 1970
end_year = 2023
year_obs = end_year - start_year +1

In [3]:
dfWEOraw = pd.read_excel('WEOApr2024all.xlsx',sheet_name='WEOApr2024all')

country_code = set(dfWEOraw['WEO Country Code'])
num_country = len(country_code)

year_list = list(range(start_year, end_year+1))*num_country

dictWEO = {}

country_list = []

dfWEO = None

for country in country_code:
    country_list += [country]*year_obs
    
    dfWEOtemp = dfWEOraw[dfWEOraw['WEO Country Code'] == country][[year for year in range(1980, end_year+1)]]
    
    if dfWEO is None:
        dfWEO = dfWEOtemp.T
        if start_year < 1980:
            nan_df = pd.DataFrame(np.nan, index=np.arange(start_year,1980), columns=dfWEO.columns)
            dfWEO = pd.concat([nan_df,dfWEO],axis=0)
    else:
        dfWEOtemp.reset_index(drop=True, inplace=True)
        if start_year < 1980:
            dfWEO = pd.concat([dfWEO,nan_df,dfWEOtemp.T], axis = 0)
        else: 
            dfWEO = pd.concat([dfWEO,dfWEOtemp.T],axis = 0)
        
subject_code = list(dfWEOraw['WEO Subject Code'][dfWEOraw['WEO Country Code']==111])
dfWEO.columns = subject_code
dfWEO.insert(0, 'YRS', year_list)
dfWEO.insert(0, 'NAM', country_list)
dfWEO.replace('--', np.nan, inplace = True)
dfWEO.replace(0, np.nan, inplace = True)
dfWEO.sort_values(by = ['NAM', 'YRS'], inplace = True)
dfWEO.reset_index(drop = True, inplace = True)

dfWEO.to_excel(f'WeoPreTSP{end_year}.xlsx', sheet_name='WeoTSP', index = False)
dfWEO.loc[dfWEO['NAM']==111]

,NAM,YRS,NGDP_R,NGDP_RPCH,NGDP,NGDPD,PPPGDP,NGDP_D,NGDPRPC,NGDPRPPPPC,...,GGSB_NPGDP,GGXONLB,GGXONLB_NGDP,GGXWDN,GGXWDN_NGDP,GGXWDG,GGXWDG_NGDP,NGDP_FY,BCA,BCA_NGDPD
0,111,1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,111,1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,111,1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,111,1973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,111,1974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,111,1975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,111,1976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,111,1977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,111,1978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,111,1979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,111,1980,7257.325,-0.257,2857.325,2857.325,2857.325,39.372,31883.244,31883.244,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2857.325,2.316,0.081
11,111,1981,7441.475,2.537,3207.025,3207.025,3207.025,43.097,32366.107,32366.107,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3207.025,5.031,0.157
12,111,1982,7307.300,-1.803,3343.800,3343.800,3343.800,45.760,31479.637,31479.637,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3343.800,-5.533,-0.165
13,111,1983,7642.275,4.584,3634.025,3634.025,3634.025,47.552,32624.927,32624.927,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3634.025,-38.695,-1.065
14,111,1984,8195.300,7.236,4037.650,4037.650,4037.650,49.268,34680.696,34680.696,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4037.650,-94.342,-2.337
15,111,1985,8537.000,4.169,4339.000,4339.000,4339.000,50.826,35807.236,35807.236,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4339.000,-118.159,-2.723
16,111,1986,8832.600,3.463,4579.625,4579.625,4579.625,51.849,36711.842,36711.842,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4579.625,-147.176,-3.214
17,111,1987,9137.750,3.455,4855.250,4855.250,4855.250,53.134,37642.520,37642.520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4855.250,-160.661,-3.309
18,111,1988,9519.425,4.177,5236.425,5236.425,5236.425,55.008,38859.951,38859.951,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5236.425,-121.159,-2.314
19,111,1989,9869.000,3.672,5641.600,5641.600,5641.600,57.165,39909.268,39909.268,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5641.600,-99.485,-1.763
20,111,1990,10055.150,1.886,5963.125,5963.125,5963.125,59.304,40212.973,40212.973,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5963.125,-78.965,-1.324
21,111,1991,10044.225,-0.109,6158.125,6158.125,6158.125,61.310,39639.103,39639.103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6158.125,2.895,0.047
22,111,1992,10398.025,3.522,6520.325,6520.325,6520.325,62.707,40494.352,40494.352,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6520.325,-51.614,-0.792
23,111,1993,10684.175,2.752,6858.550,6858.550,6858.550,64.194,41069.853,41069.853,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6858.550,-84.816,-1.237
24,111,1994,11114.650,4.029,7287.250,7287.250,7287.250,65.564,42208.934,42208.934,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7287.250,-121.612,-1.669
25,111,1995,11413.025,2.685,7639.750,7639.750,7639.750,66.939,42832.333,42832.333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7639.750,-113.571,-1.487
26,111,1996,11843.600,3.773,8073.125,8073.125,8073.125,68.164,43933.418,43933.418,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8073.125,-124.773,-1.546
27,111,1997,12370.300,4.447,8577.550,8577.550,8577.550,69.340,45342.004,45342.004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8577.550,-140.720,-1.641
28,111,1998,12924.875,4.483,9062.825,9062.825,9062.825,70.119,46825.468,46825.468,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9062.825,-215.066,-2.373
29,111,1999,13543.775,4.788,9631.175,9631.175,9631.175,71.111,48510.106,48510.106,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9631.175,-286.609,-2.976
30,111,2000,14096.025,4.078,10250.950,10250.950,10250.950,72.722,49933.507,49933.507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10250.950,-401.917,-3.921
31,111,2001,14230.725,0.956,10581.925,10581.925,10581.925,74.360,49894.568,49894.568,...,-0.765,187.203,1.769,3681.658,34.792,5623.896,53.146,10581.925,-394.085,-3.724
32,111,2002,14472.700,1.700,10929.100,10929.100,10929.100,75.515,50249.116,50249.116,...,-2.799,-187.700,-1.717,4063.863,37.184,6069.788,55.538,10929.100,-456.106,-4.173
33,111,2003,14877.325,2.796,11456.450,11456.450,11456.450,77.006,51171.721,51171.721,...,-3.678,-322.104,-2.812,4573.226,39.918,6716.291,58.625,11456.450,-522.293,-4.559
34,111,2004,15449.775,3.848,12217.175,12217.175,12217.175,79.077,52659.769,52659.769,...,-3.583,-287.197,-2.351,5931.826,48.553,8075.802,66.102,12217.175,-635.891,-5.205
35,111,2005,15987.950,3.483,13039.200,13039.200,13039.200,81.556,53992.383,53992.383,...,-2.623,-141.314,-1.084,6154.811,47.202,8534.093,65.450,13039.200,-749.232,-5.746
36,111,2006,16433.150,2.785,13815.600,13815.600,13815.600,84.072,54973.253,54973.253,...,-1.974,-10.195,-0.074,6326.982,45.796,8867.692,64.186,13815.600,-816.647,-5.911
37,111,2007,16762.450,2.004,14474.250,14474.250,14474.250,86.349,55522.604,55522.604,...,-2.901,-122.600,-0.847,6650.437,45.947,9347.543,64.580,14474.250,-736.549,-5.089
38,111,2008,16781.500,0.114,14769.850,14769.850,14769.850,88.013,55072.231,55072.231,...,-4.752,-677.789,-4.589,7687.023,52.045,10845.174,73.428,14769.850,-696.523,-4.716
39,111,2009,16349.125,-2.576,14478.050,14478.050,14478.050,88.556,53189.724,53189.724,...,-6.557,-1634.287,-11.288,9181.561,63.417,12537.329,86.595,14478.050,-379.729,-2.623
40,111,2010,16789.775,2.695,15048.975,15048.975,15048.975,89.632,54206.538,54206.538,...,-8.203,-1349.240,-8.966,10589.113,70.364,14320.128,95.157,15048.975,-432.010,-2.871
41,111,2011,17052.400,1.564,15599.725,15599.725,15599.725,91.481,54664.954,54664.954,...,-6.743,-1157.451,-7.420,11982.352,76.811,15520.644,99.493,15599.725,-455.302,-2.919
42,111,2012,17442.775,2.289,16253.950,16253.950,16253.950,93.184,55520.799,55520.799,...,-4.974,-959.762,-5.905,13154.792,80.933,16751.215,103.059,16253.950,-418.182,-2.573
43,111,2013,17812.175,2.118,16880.675,16880.675,16880.675,94.770,56308.602,56308.602,...,-3.168,-436.219,-2.584,13616.424,80.663,17612.484,104.335,16880.675,-339.517,-2.011
44,111,2014,18261.700,2.524,17608.125,17608.125,17608.125,96.421,57315.088,57315.088,...,-2.647,-362.076,-2.056,14325.238,81.356,18352.657,104.228,17608.125,-370.056,-2.102
45,111,2015,18799.600,2.946,18295.000,18295.000,18295.000,97.316,58579.252,58579.252,...,-2.541,-309.684,-1.693,14835.563,81.091,19144.922,104.646,18295.000,-408.454,-2.233
46,111,2016,19141.675,1.820,18804.900,18804.900,18804.900,98.241,59221.632,59221.632,...,-3.568,-446.429,-2.374,15425.369,82.028,20039.072,106.563,18804.900,-396.216,-2.107
47,111,2017,19612.100,2.458,19612.100,19612.100,19612.100,100.000,60292.978,60292.978,...,-4.312,-545.455,-2.781,15797.743,80.551,20693.171,105.512,19612.100,-367.615,-1.874
48,111,2018,20193.925,2.967,20656.525,20656.525,20656.525,102.291,61750.700,61750.700,...,-5.119,-640.578,-3.101,16809.415,81.376,22066.939,106.828,20656.525,-439.849,-2.129
49,111,2019,20692.100,2.467,21521.400,21521.400,21521.400,104.008,62980.639,62980.639,...,-6.036,-760.177,-3.532,17910.381,83.221,23258.956,108.074,21521.400,-441.750,-2.053
50,111,2020,20234.075,-2.214,21322.925,21322.925,21322.925,105.381,61080.527,61080.527,...,-10.630,-2536.082,-11.894,20894.464,97.991,28144.344,131.991,21322.925,-597.139,-2.800
51,111,2021,21407.675,5.800,23594.050,23594.050,23594.050,110.213,64416.871,64416.871,...,-10.828,-2078.766,-8.811,23066.945,97.766,29482.232,124.956,23594.050,-831.445,-3.524
52,111,2022,21822.050,1.936,25744.100,25744.100,25744.100,117.973,65431.880,65431.880,...,-6.834,-325.342,-1.264,24371.992,94.670,30899.571,120.026,25744.100,-971.594,-3.774
53,111,2023,22374.350,2.531,27357.825,27357.825,27357.825,122.273,66762.200,66762.200,...,-8.588,-1579.265,-5.773,26340.117,96.280,33416.988,122.148,27357.825,-812.746,-2.971

In [4]:
dfCombined = dfWEO.copy()

IFS_var = {series:series for series in ['BRASS','CG','EDNA','ENDA','M0_KS','FMB','PRATE',
                                       'FIDR','IRATE','NCP','NCP_R','NEER','NFI','NGS',
                                       'NX','NM','REERAOP','TM_R','TMG_R','TX_R','TXG_R','TT',
                                       'LP','NGDP','NGDP_R','PCPI']}


IFS_df_dict = {}

for (sheet_name, var_name) in IFS_var.items():
    
    IFS_df_dict[var_name] = pd.read_excel('IMF_IFS_2023.xlsx', sheet_name = sheet_name, header = 3)
    IFS_df_dict[var_name].drop(columns =['Unnamed: 1'], index = list(range(6)), inplace = True)
    IFS_df_dict[var_name].rename(columns = {'@IFSANN':'YRS'}, inplace = True)
    IFS_df_dict[var_name] = IFS_df_dict[var_name].iloc[start_year-1969:end_year-1968,:]
    IFS_df_dict[var_name]['YRS'] = IFS_df_dict[var_name]['YRS'].astype(np.int64)

    common_code = country_code.intersection(IFS_df_dict[var_name].columns)
    dfCombined[var_name] = np.nan

    for country in common_code:
        dfCombined.loc[dfCombined['NAM'] == country, var_name] = IFS_df_dict[var_name][country].values
        
dfCombined = pd.concat([dfCombined.iloc[:,0:2],dfCombined.iloc[:,2:].astype(np.float64)],axis=1)

# Adjust to the same unit as WEO file
dfCombined['LP'] = dfCombined['LP']*1000

dfCombined

,NAM,YRS,NGDP_R,NGDP_RPCH,NGDP,NGDPD,PPPGDP,NGDP_D,NGDPRPC,NGDPRPPPPC,...,NFI,NGS,NX,NM,REERAOP,TM_R,TMG_R,TX_R,TXG_R,TT
0,111,1970,5316.3913,NaN,1073.300,NaN,NaN,NaN,NaN,NaN,...,227.900,192.8,59.700,55.800,121.599220,249.9758,173.7305,192.7615,119.5415,108.60818
1,111,1971,5491.4455,NaN,1164.800,NaN,NaN,NaN,NaN,NaN,...,247.100,209.2,63.000,62.300,121.956089,263.3173,188.2983,196.1015,119.4213,99.16632
2,111,1972,5780.0483,NaN,1279.100,NaN,NaN,NaN,NaN,NaN,...,279.700,237.3,70.800,74.200,114.002842,292.9483,213.9110,211.3870,132.4213,98.89155
3,111,1973,6106.3705,NaN,1425.400,NaN,NaN,NaN,NaN,NaN,...,316.700,292.2,95.300,91.200,104.132402,306.5428,229.0090,251.1678,164.8233,140.22279
4,111,1974,6073.3628,NaN,1545.200,NaN,NaN,NaN,NaN,NaN,...,336.700,301.8,126.700,127.500,99.057700,299.5983,222.6470,271.1173,178.9290,139.52292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10579,968,2019,759.7090,3.853,1063.795,250.993,607.907,121.829,44975.925,30105.501,...,244.453,NaN,427.648,471.292,97.252000,438.5224,NaN,369.3993,NaN,74.24619
10580,968,2020,731.7707,-3.677,1066.781,251.699,593.284,126.836,43513.837,29126.824,...,251.016,NaN,393.392,439.327,98.615000,415.7806,NaN,334.4200,NaN,69.05534
10581,968,2021,773.5467,5.709,1189.090,286.015,655.909,133.743,46302.648,30993.569,...,288.381,NaN,482.663,550.098,99.560000,477.3935,NaN,376.5631,NaN,96.81985
10582,968,2022,805.3165,4.595,1401.345,301.273,734.353,151.599,48835.331,32688.869,...,346.459,NaN,606.415,700.030,103.182000,522.5683,NaN,412.9246,NaN,105.23729
10583,968,2023,NaN,2.110,NaN,345.894,777.184,166.665,49897.782,33400.041,...,NaN,NaN,NaN,NaN,108.418000,NaN,NaN,NaN,NaN,88.41580

In [5]:
dfIncome = pd.read_excel('../List_of_countries.xlsx', sheet_name = 'Country list', header = 1)
common_code = country_code.intersection(dfIncome['code.2'])
dfCombined[['dumUpper','dumUpper-mid','dumLower-mid','dumLower']] = 0
for i in dfIncome.index:
    country = dfIncome.iloc[i]['code.2']
    if (country in common_code):
        if dfIncome.iloc[i]['Upper'] == 1:
            dfCombined.loc[(dfCombined['NAM']==country),'dumUpper'] = 1
        elif dfIncome.iloc[i]['Upper-mid'] == 1:
            dfCombined.loc[(dfCombined['NAM']==country),'dumUpper-mid'] = 1
        elif dfIncome.iloc[i]['Lower-mid'] == 1:
            dfCombined.loc[(dfCombined['NAM']==country),'dumLower-mid'] = 1
        elif dfIncome.iloc[i]['Lower'] == 1:
            dfCombined.loc[(dfCombined['NAM']==country),'dumLower'] = 1
            
dfCombined

,NAM,YRS,NGDP_R,NGDP_RPCH,NGDP,NGDPD,PPPGDP,NGDP_D,NGDPRPC,NGDPRPPPPC,...,REERAOP,TM_R,TMG_R,TX_R,TXG_R,TT,dumUpper,dumUpper-mid,dumLower-mid,dumLower
0,111,1970,5316.3913,NaN,1073.300,NaN,NaN,NaN,NaN,NaN,...,121.599220,249.9758,173.7305,192.7615,119.5415,108.60818,1,0,0,0
1,111,1971,5491.4455,NaN,1164.800,NaN,NaN,NaN,NaN,NaN,...,121.956089,263.3173,188.2983,196.1015,119.4213,99.16632,1,0,0,0
2,111,1972,5780.0483,NaN,1279.100,NaN,NaN,NaN,NaN,NaN,...,114.002842,292.9483,213.9110,211.3870,132.4213,98.89155,1,0,0,0
3,111,1973,6106.3705,NaN,1425.400,NaN,NaN,NaN,NaN,NaN,...,104.132402,306.5428,229.0090,251.1678,164.8233,140.22279,1,0,0,0
4,111,1974,6073.3628,NaN,1545.200,NaN,NaN,NaN,NaN,NaN,...,99.057700,299.5983,222.6470,271.1173,178.9290,139.52292,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10579,968,2019,759.7090,3.853,1063.795,250.993,607.907,121.829,44975.925,30105.501,...,97.252000,438.5224,NaN,369.3993,NaN,74.24619,0,1,0,0
10580,968,2020,731.7707,-3.677,1066.781,251.699,593.284,126.836,43513.837,29126.824,...,98.615000,415.7806,NaN,334.4200,NaN,69.05534,0,1,0,0
10581,968,2021,773.5467,5.709,1189.090,286.015,655.909,133.743,46302.648,30993.569,...,99.560000,477.3935,NaN,376.5631,NaN,96.81985,0,1,0,0
10582,968,2022,805.3165,4.595,1401.345,301.273,734.353,151.599,48835.331,32688.869,...,103.182000,522.5683,NaN,412.9246,NaN,105.23729,0,1,0,0
10583,968,2023,NaN,2.110,NaN,345.894,777.184,166.665,49897.782,33400.041,...,108.418000,NaN,NaN,NaN,NaN,88.41580,0,1,0,0

In [6]:
skipcols = ['Unnamed: ' + str(i) for i in range(35,39)]
dfRegime = pd.read_excel('../Regimes/REGIMETS_2023.xlsx', sheet_name = 'Full-KS', usecols = lambda column: column not in skipcols, index_col = 1)
dfRegime.columns = dfRegime.iloc[1]
dfRegime = dfRegime.transpose()
dfRegime = dfRegime.iloc[3:,2:]
if start_year < 1970:
    nan_df = pd.DataFrame(np.nan, index=np.arange(start_year,1970), columns=dfRegime.columns)
    dfRegime = pd.concat([nan_df,dfRegime],axis=0)
else:
    dfRegime =dfRegime.loc[start_year:end_year,:]

common_code = country_code.intersection(dfRegime.columns)

dfCombined.insert(dfCombined.columns.get_loc('YRS') + 1, 'REG', np.nan)

for country in common_code:
    dfCombined.loc[dfCombined['NAM'] == country, 'REG'] = dfRegime[country].values

dfCombined

,NAM,YRS,REG,NGDP_R,NGDP_RPCH,NGDP,NGDPD,PPPGDP,NGDP_D,NGDPRPC,...,REERAOP,TM_R,TMG_R,TX_R,TXG_R,TT,dumUpper,dumUpper-mid,dumLower-mid,dumLower
0,111,1970,3.0,5316.3913,NaN,1073.300,NaN,NaN,NaN,NaN,...,121.599220,249.9758,173.7305,192.7615,119.5415,108.60818,1,0,0,0
1,111,1971,3.0,5491.4455,NaN,1164.800,NaN,NaN,NaN,NaN,...,121.956089,263.3173,188.2983,196.1015,119.4213,99.16632,1,0,0,0
2,111,1972,3.0,5780.0483,NaN,1279.100,NaN,NaN,NaN,NaN,...,114.002842,292.9483,213.9110,211.3870,132.4213,98.89155,1,0,0,0
3,111,1973,5.0,6106.3705,NaN,1425.400,NaN,NaN,NaN,NaN,...,104.132402,306.5428,229.0090,251.1678,164.8233,140.22279,1,0,0,0
4,111,1974,5.0,6073.3628,NaN,1545.200,NaN,NaN,NaN,NaN,...,99.057700,299.5983,222.6470,271.1173,178.9290,139.52292,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10579,968,2019,4.0,759.7090,3.853,1063.795,250.993,607.907,121.829,44975.925,...,97.252000,438.5224,NaN,369.3993,NaN,74.24619,0,1,0,0
10580,968,2020,4.0,731.7707,-3.677,1066.781,251.699,593.284,126.836,43513.837,...,98.615000,415.7806,NaN,334.4200,NaN,69.05534,0,1,0,0
10581,968,2021,4.0,773.5467,5.709,1189.090,286.015,655.909,133.743,46302.648,...,99.560000,477.3935,NaN,376.5631,NaN,96.81985,0,1,0,0
10582,968,2022,4.0,805.3165,4.595,1401.345,301.273,734.353,151.599,48835.331,...,103.182000,522.5683,NaN,412.9246,NaN,105.23729,0,1,0,0
10583,968,2023,4.0,NaN,2.110,NaN,345.894,777.184,166.665,49897.782,...,108.418000,NaN,NaN,NaN,NaN,88.41580,0,1,0,0

In [7]:
dfSOVD = pd.read_excel('../SovereignDebt/SOVD data from Schuler.xlsx', sheet_name = 'SOVD')

common_code = country_code.intersection(dfSOVD['NAM'])

dfCombined['SOVD'] = np.nan

for i in dfSOVD.index:
    country = dfSOVD.iloc[i]['NAM']
    year = dfSOVD.iloc[i]['YRS']
    if (country in common_code) and \
        (year in list(range(start_year,end_year+1))):
        
        dfCombined.loc[(dfCombined['NAM']==country)&(dfCombined['YRS']==year),'SOVD'] = 1
        
dfCombined.loc[(dfCombined['NAM'].isin(common_code))&(dfCombined['SOVD'].isna()),'SOVD'] = 0
        
dfCombined

,NAM,YRS,REG,NGDP_R,NGDP_RPCH,NGDP,NGDPD,PPPGDP,NGDP_D,NGDPRPC,...,TM_R,TMG_R,TX_R,TXG_R,TT,dumUpper,dumUpper-mid,dumLower-mid,dumLower,SOVD
0,111,1970,3.0,5316.3913,NaN,1073.300,NaN,NaN,NaN,NaN,...,249.9758,173.7305,192.7615,119.5415,108.60818,1,0,0,0,NaN
1,111,1971,3.0,5491.4455,NaN,1164.800,NaN,NaN,NaN,NaN,...,263.3173,188.2983,196.1015,119.4213,99.16632,1,0,0,0,NaN
2,111,1972,3.0,5780.0483,NaN,1279.100,NaN,NaN,NaN,NaN,...,292.9483,213.9110,211.3870,132.4213,98.89155,1,0,0,0,NaN
3,111,1973,5.0,6106.3705,NaN,1425.400,NaN,NaN,NaN,NaN,...,306.5428,229.0090,251.1678,164.8233,140.22279,1,0,0,0,NaN
4,111,1974,5.0,6073.3628,NaN,1545.200,NaN,NaN,NaN,NaN,...,299.5983,222.6470,271.1173,178.9290,139.52292,1,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10579,968,2019,4.0,759.7090,3.853,1063.795,250.993,607.907,121.829,44975.925,...,438.5224,NaN,369.3993,NaN,74.24619,0,1,0,0,0.0
10580,968,2020,4.0,731.7707,-3.677,1066.781,251.699,593.284,126.836,43513.837,...,415.7806,NaN,334.4200,NaN,69.05534,0,1,0,0,0.0
10581,968,2021,4.0,773.5467,5.709,1189.090,286.015,655.909,133.743,46302.648,...,477.3935,NaN,376.5631,NaN,96.81985,0,1,0,0,0.0
10582,968,2022,4.0,805.3165,4.595,1401.345,301.273,734.353,151.599,48835.331,...,522.5683,NaN,412.9246,NaN,105.23729,0,1,0,0,0.0
10583,968,2023,4.0,NaN,2.110,NaN,345.894,777.184,166.665,49897.782,...,NaN,NaN,NaN,NaN,88.41580,0,1,0,0,0.0

In [8]:
dfCBGOV = pd.read_excel('../Cbturn/CBGOV_data_from_Dreher.xlsx', sheet_name = 'CBGOV')


common_code = country_code.intersection(dfCBGOV['NAM'])

dfCombined['CBGOV'] = np.nan

for i in dfCBGOV.index:
    country = dfCBGOV.iloc[i]['NAM']
    year = dfCBGOV.iloc[i]['YRS']
    if (country in common_code) and\
        (year in list(range(start_year,end_year+1))) and\
        (isinstance(dfCBGOV.iloc[i]['CBGOV'],int)):
        
        dfCombined.loc[(dfCombined['NAM']==country)&(dfCombined['YRS']==year),'CBGOV'] = dfCBGOV.iloc[i]['CBGOV']
        
dfCombined.loc[dfCombined['CBGOV']<0,'CBGOV'] = 0
dfCombined

,NAM,YRS,REG,NGDP_R,NGDP_RPCH,NGDP,NGDPD,PPPGDP,NGDP_D,NGDPRPC,...,TMG_R,TX_R,TXG_R,TT,dumUpper,dumUpper-mid,dumLower-mid,dumLower,SOVD,CBGOV
0,111,1970,3.0,5316.3913,NaN,1073.300,NaN,NaN,NaN,NaN,...,173.7305,192.7615,119.5415,108.60818,1,0,0,0,NaN,1.0
1,111,1971,3.0,5491.4455,NaN,1164.800,NaN,NaN,NaN,NaN,...,188.2983,196.1015,119.4213,99.16632,1,0,0,0,NaN,0.0
2,111,1972,3.0,5780.0483,NaN,1279.100,NaN,NaN,NaN,NaN,...,213.9110,211.3870,132.4213,98.89155,1,0,0,0,NaN,0.0
3,111,1973,5.0,6106.3705,NaN,1425.400,NaN,NaN,NaN,NaN,...,229.0090,251.1678,164.8233,140.22279,1,0,0,0,NaN,0.0
4,111,1974,5.0,6073.3628,NaN,1545.200,NaN,NaN,NaN,NaN,...,222.6470,271.1173,178.9290,139.52292,1,0,0,0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10579,968,2019,4.0,759.7090,3.853,1063.795,250.993,607.907,121.829,44975.925,...,NaN,369.3993,NaN,74.24619,0,1,0,0,0.0,NaN
10580,968,2020,4.0,731.7707,-3.677,1066.781,251.699,593.284,126.836,43513.837,...,NaN,334.4200,NaN,69.05534,0,1,0,0,0.0,NaN
10581,968,2021,4.0,773.5467,5.709,1189.090,286.015,655.909,133.743,46302.648,...,NaN,376.5631,NaN,96.81985,0,1,0,0,0.0,NaN
10582,968,2022,4.0,805.3165,4.595,1401.345,301.273,734.353,151.599,48835.331,...,NaN,412.9246,NaN,105.23729,0,1,0,0,0.0,NaN
10583,968,2023,4.0,NaN,2.110,NaN,345.894,777.184,166.665,49897.782,...,NaN,NaN,NaN,88.41580,0,1,0,0,0.0,NaN

In [9]:
avg5y_series = {'CBGOV':'CBTURN5'}


for (orig_series, avg_series) in avg5y_series.items():
    dfCombined.insert(dfCombined.columns.get_loc(orig_series) + 1,avg_series,dfCombined[orig_series].shift(1).rolling(5,min_periods=1).sum()/5)
    dfCombined[avg_series] = dfCombined[avg_series].fillna(0)
    dfCombined.loc[dfCombined['YRS'] == start_year, avg_series] = 0
    dfCombined.loc[dfCombined['YRS'] == start_year+1, avg_series] = 0#dfCombined.loc[dfCombined['YRS'] == start_year, orig_series].values/5
    dfCombined.loc[dfCombined['YRS'] == start_year+2, avg_series] = 0#dfCombined.loc[dfCombined['YRS'] == start_year+1, avg_series].values+dfCombined.loc[dfCombined['YRS'] == start_year+1, orig_series].values/5
    dfCombined.loc[dfCombined['YRS'] == start_year+3, avg_series] = 0#dfCombined.loc[dfCombined['YRS'] == start_year+2, avg_series].values+dfCombined.loc[dfCombined['YRS'] == start_year+2, orig_series].values/5
    dfCombined.loc[dfCombined['YRS'] == start_year+4, avg_series] = 0#dfCombined.loc[dfCombined['YRS'] == start_year+3, avg_series].values+dfCombined.loc[dfCombined['YRS'] == start_year+3, orig_series].values/5

In [10]:
dfCURCON = pd.read_excel('../CURCON-KAPCON/CURCON_data_from_AREAR.xlsx', sheet_name = 'CURCON')

common_code = country_code.intersection(dfCURCON['NAM'])

dfCombined[['CURCON','CURCON1','CURCON2','CURCON3']] = np.nan

for i in dfCURCON.index:
    country = dfCURCON.iloc[i]['NAM']
    year = dfCURCON.iloc[i]['YRS']
    if (country in common_code) and \
        (year in list(range(start_year,end_year+1))):
        
        dfCombined.loc[(dfCombined['NAM']==country)&(dfCombined['YRS']==year),'CURCON'] = dfCURCON.iloc[i]['CURCON']
        dfCombined.loc[(dfCombined['NAM']==country)&(dfCombined['YRS']==year),'CURCON1'] = dfCURCON.iloc[i]['CURCON1']
        dfCombined.loc[(dfCombined['NAM']==country)&(dfCombined['YRS']==year),'CURCON2'] = dfCURCON.iloc[i]['CURCON2']
        dfCombined.loc[(dfCombined['NAM']==country)&(dfCombined['YRS']==year),'CURCON3'] = dfCURCON.iloc[i]['CURCON3']
        
dfCombined

,NAM,YRS,REG,NGDP_R,NGDP_RPCH,NGDP,NGDPD,PPPGDP,NGDP_D,NGDPRPC,...,dumUpper-mid,dumLower-mid,dumLower,SOVD,CBGOV,CBTURN5,CURCON,CURCON1,CURCON2,CURCON3
0,111,1970,3.0,5316.3913,NaN,1073.300,NaN,NaN,NaN,NaN,...,0,0,0,NaN,1.0,0.0,NaN,NaN,NaN,NaN
1,111,1971,3.0,5491.4455,NaN,1164.800,NaN,NaN,NaN,NaN,...,0,0,0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,111,1972,3.0,5780.0483,NaN,1279.100,NaN,NaN,NaN,NaN,...,0,0,0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,111,1973,5.0,6106.3705,NaN,1425.400,NaN,NaN,NaN,NaN,...,0,0,0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,111,1974,5.0,6073.3628,NaN,1545.200,NaN,NaN,NaN,NaN,...,0,0,0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10579,968,2019,4.0,759.7090,3.853,1063.795,250.993,607.907,121.829,44975.925,...,1,0,0,0.0,NaN,0.0,0,.,0,0
10580,968,2020,4.0,731.7707,-3.677,1066.781,251.699,593.284,126.836,43513.837,...,1,0,0,0.0,NaN,0.0,0,.,0,0
10581,968,2021,4.0,773.5467,5.709,1189.090,286.015,655.909,133.743,46302.648,...,1,0,0,0.0,NaN,0.0,0,.,0,0
10582,968,2022,4.0,805.3165,4.595,1401.345,301.273,734.353,151.599,48835.331,...,1,0,0,0.0,NaN,0.0,NaN,NaN,NaN,NaN
10583,968,2023,4.0,NaN,2.110,NaN,345.894,777.184,166.665,49897.782,...,1,0,0,0.0,NaN,0.0,NaN,NaN,NaN,NaN

In [11]:
dfKAPCON = pd.read_excel('../CURCON-KAPCON/KAPCON_data_from_Chinn-Ito.xlsx', sheet_name = 'KAPCON')

common_code = country_code.intersection(dfKAPCON['NAM'])

dfCombined['KAPCON'] = np.nan

for i in dfKAPCON.index:
    country = dfKAPCON.iloc[i]['NAM']
    year = dfKAPCON.iloc[i]['YRS']
    if (country in common_code) and \
        (year in list(range(start_year,end_year+1))) and \
        (isinstance(dfKAPCON.iloc[i]['KAPCON'],int)):
        dfCombined.loc[(dfCombined['NAM']==country)&(dfCombined['YRS']==year),'KAPCON'] = 1-dfKAPCON.iloc[i]['KAPCON']

dfCombined

,NAM,YRS,REG,NGDP_R,NGDP_RPCH,NGDP,NGDPD,PPPGDP,NGDP_D,NGDPRPC,...,dumLower-mid,dumLower,SOVD,CBGOV,CBTURN5,CURCON,CURCON1,CURCON2,CURCON3,KAPCON
0,111,1970,3.0,5316.3913,NaN,1073.300,NaN,NaN,NaN,NaN,...,0,0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,0.0
1,111,1971,3.0,5491.4455,NaN,1164.800,NaN,NaN,NaN,NaN,...,0,0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
2,111,1972,3.0,5780.0483,NaN,1279.100,NaN,NaN,NaN,NaN,...,0,0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
3,111,1973,5.0,6106.3705,NaN,1425.400,NaN,NaN,NaN,NaN,...,0,0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
4,111,1974,5.0,6073.3628,NaN,1545.200,NaN,NaN,NaN,NaN,...,0,0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10579,968,2019,4.0,759.7090,3.853,1063.795,250.993,607.907,121.829,44975.925,...,0,0,0.0,NaN,0.0,0,.,0,0,0.0
10580,968,2020,4.0,731.7707,-3.677,1066.781,251.699,593.284,126.836,43513.837,...,0,0,0.0,NaN,0.0,0,.,0,0,0.0
10581,968,2021,4.0,773.5467,5.709,1189.090,286.015,655.909,133.743,46302.648,...,0,0,0.0,NaN,0.0,0,.,0,0,0.0
10582,968,2022,4.0,805.3165,4.595,1401.345,301.273,734.353,151.599,48835.331,...,0,0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
10583,968,2023,4.0,NaN,2.110,NaN,345.894,777.184,166.665,49897.782,...,0,0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [12]:
dfBNKSTRT = pd.read_excel('../Crisis/BNKSTRT_data_from_Metrick-Schmelzing-plus-Schuler.xlsx', sheet_name = 'BNKSTRT')

common_code = country_code.intersection(dfBNKSTRT['NAM'])

dfCombined['BNKSTRT'] = np.nan

for i in dfBNKSTRT.index:
    country = dfBNKSTRT.iloc[i]['NAM']
    year = dfBNKSTRT.iloc[i]['YRS']
    if (country in common_code) and \
        (year in list(range(start_year,end_year+1))):
        
        dfCombined.loc[(dfCombined['NAM']==country)&(dfCombined['YRS']==year),'BNKSTRT'] = 1
        
dfCombined.loc[(dfCombined['NAM'].isin(common_code))&(dfCombined['BNKSTRT'].isna()),'BNKSTRT'] = 0
        
dfCombined

,NAM,YRS,REG,NGDP_R,NGDP_RPCH,NGDP,NGDPD,PPPGDP,NGDP_D,NGDPRPC,...,dumLower,SOVD,CBGOV,CBTURN5,CURCON,CURCON1,CURCON2,CURCON3,KAPCON,BNKSTRT
0,111,1970,3.0,5316.3913,NaN,1073.300,NaN,NaN,NaN,NaN,...,0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,0.0,1.0
1,111,1971,3.0,5491.4455,NaN,1164.800,NaN,NaN,NaN,NaN,...,0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0
2,111,1972,3.0,5780.0483,NaN,1279.100,NaN,NaN,NaN,NaN,...,0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0
3,111,1973,5.0,6106.3705,NaN,1425.400,NaN,NaN,NaN,NaN,...,0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0
4,111,1974,5.0,6073.3628,NaN,1545.200,NaN,NaN,NaN,NaN,...,0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10579,968,2019,4.0,759.7090,3.853,1063.795,250.993,607.907,121.829,44975.925,...,0,0.0,NaN,0.0,0,.,0,0,0.0,0.0
10580,968,2020,4.0,731.7707,-3.677,1066.781,251.699,593.284,126.836,43513.837,...,0,0.0,NaN,0.0,0,.,0,0,0.0,0.0
10581,968,2021,4.0,773.5467,5.709,1189.090,286.015,655.909,133.743,46302.648,...,0,0.0,NaN,0.0,0,.,0,0,0.0,0.0
10582,968,2022,4.0,805.3165,4.595,1401.345,301.273,734.353,151.599,48835.331,...,0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0
10583,968,2023,4.0,NaN,2.110,NaN,345.894,777.184,166.665,49897.782,...,0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0

In [13]:
per_capita_series = {'NGDP_R':'NGDPRPC'}

for (orig_series, capita_series) in per_capita_series.items():
    dfCombined['NGDPRPC'] = dfCombined[orig_series]*1000/dfCombined['LP']

In [14]:
natural_log_series = {series:series+'_LN' for series in ['NGDP_R']}

for (orig_series, ln_series) in natural_log_series.items():
    dfCombined.insert(dfCombined.columns.get_loc(orig_series) + 1,ln_series, np.log(dfCombined[orig_series]))

In [15]:
# Percentage of NGDP

per_NGDP_series = {series:series+'_NGDP' for series in ['NX','NM','NGS','NCP','NFI']}

for (orig_series, NGDP_series) in per_NGDP_series.items():
    dfCombined.insert(dfCombined.columns.get_loc(orig_series) + 1,NGDP_series,dfCombined[orig_series]/dfCombined['NGDP']*100)

dfCombined['NGSD_NGDP'] = dfCombined['NGS']/dfCombined['NGDP']*100

In [16]:
# Ratio of NGDP

per_NGDP_series = {series:series+'_NGDP' for series in ['FMB','GGSB']}

for (orig_series, NGDP_series) in per_NGDP_series.items():
    dfCombined.insert(dfCombined.columns.get_loc(orig_series) + 1,NGDP_series,dfCombined[orig_series]/dfCombined['NGDP'])

In [17]:
real_series = {series:series+'_R' for series in ['FMB','NX','NM']}

for (orig_series, real_series) in real_series.items():
    dfCombined.insert(dfCombined.columns.get_loc(orig_series) + 1,real_series,dfCombined[orig_series]/dfCombined['PCPI'])

In [18]:
dfCombined.insert(dfCombined.columns.get_loc('NX_NGDP') + 1,'OPEN',dfCombined['NM_NGDP'] + dfCombined['NM_NGDP'])

In [19]:
dfCombined.insert(dfCombined.columns.get_loc('PPPPC') + 1,'GAP_US',np.nan)
for country in set(dfCombined['NAM']):
    numerator = dfCombined.loc[(dfCombined['NAM'] == country) & (dfCombined['YRS'] == start_year), 'PPPPC'].values
    denominator = dfCombined.loc[(dfCombined['NAM'] == 111) & (dfCombined['YRS'] == start_year), 'PPPPC'].values    
    dfCombined.loc[(dfCombined['NAM'] == country), 'GAP_US'] = np.divide(numerator, denominator)[0]*100

In [20]:
growth_pct_series = {series:series+'PCH' for series in ['FMB','FMB_R','FMB_NGDP','LP','NGDPRPC','TT','NX_R','NM_R','REERAOP']}
growth_pct_series['PCPI'] = 'PCPIPCH'
growth_pct_series['NGDP_R'] = 'NGDP_RPCH'

for (orig_series, growth_series) in growth_pct_series.items():
    if (orig_series == 'PCPI') or (orig_series == 'NGDP_R'):
        dfCombined[growth_series] = dfCombined[orig_series].pct_change()*100
    else:
        dfCombined.insert(dfCombined.columns.get_loc(orig_series) + 1,growth_series, dfCombined[orig_series].pct_change()*100)
    dfCombined.loc[dfCombined['YRS'] == start_year, growth_series] = np.nan
    dfCombined.loc[dfCombined[orig_series].isna(), growth_series] = np.nan
    dfCombined.loc[dfCombined[orig_series].shift(1).isna(), growth_series] = np.nan

In [21]:
# Ex-Post Real Interest Rate
dfCombined.insert(dfCombined.columns.get_loc('IRATE') + 1,'RRATE', dfCombined['IRATE']-dfCombined['PCPIPCH'].shift(-1))
dfCombined.loc[dfCombined['YRS'] == end_year, 'RRATE'] = np.nan

In [22]:
# Rescaled series
rescale_series = {series:series+'_X' for series in ['PCPIPCH','FMBPCH']}

for (orig_series, rescaled_series) in rescale_series.items():
    dfCombined.insert(dfCombined.columns.get_loc(orig_series) + 1,rescaled_series, 100*dfCombined[orig_series]/(100+dfCombined[orig_series]))

In [23]:
avg3y_series = {series:series+'_M3' for series in ['GGSB_NGDP','GGSB_NPGDP','NFI_NGDP']}


for (orig_series, avg_series) in avg3y_series.items():
    dfCombined.insert(dfCombined.columns.get_loc(orig_series) + 1,avg_series,dfCombined[orig_series].shift(1).rolling(3,min_periods=1).mean())
    dfCombined.loc[dfCombined['YRS'] == start_year, avg_series] = np.nan
    dfCombined.loc[dfCombined['YRS'] == start_year+1, avg_series] = np.nan
    dfCombined.loc[dfCombined['YRS'] == start_year+2, avg_series] = np.nan

In [24]:
hp_filter_series = {series:series+'_HP' for series in ['NGDP_R','NGDP_R_LN']}

for (orig_series, hp_series) in hp_filter_series.items():
    dfCombined.insert(dfCombined.columns.get_loc(orig_series) + 1,hp_series, np.nan)
    for country in set(dfCombined['NAM']):
        [cycle, trend] = hpfilter.hpfilter(dfCombined.loc[dfCombined['NAM'] == country,orig_series], lamb = 100)
        dfCombined.loc[dfCombined['NAM'] == country,hp_series] = trend

hp_gap_series = {series:series+'_GAP' for series in ['NGDP_R_LN']}
for (orig_series, gap_series) in hp_gap_series.items():
    dfCombined.insert(dfCombined.columns.get_loc(orig_series) + 1,gap_series,dfCombined[orig_series+'_HP'] - dfCombined[orig_series])

In [25]:
dfCombined.loc[:,['dumDOLLAR','dumCURRENCYBOARD','dumPEGGED','dumINTERMEDIATE','dumFLEXIBLE']] = 0
dfCombined.loc[dfCombined['REG'] == 1, 'dumDOLLAR'] = 1
dfCombined.loc[dfCombined['REG'] == 2, 'dumCURRENCYBOARD'] = 1
dfCombined.loc[dfCombined['REG'] == 3, 'dumPEGGED'] = 1
dfCombined.loc[dfCombined['REG'] == 4, 'dumINTERMEDIATE'] = 1
dfCombined.loc[(dfCombined['REG'] == 5) | (dfCombined['REG'] == 6), 'dumFLEXIBLE'] = 1
dfCombined

,NAM,YRS,REG,NGDP_R,NGDP_R_HP,NGDP_R_LN,NGDP_R_LN_GAP,NGDP_R_LN_HP,NGDP_RPCH,NGDP,...,CURCON1,CURCON2,CURCON3,KAPCON,BNKSTRT,dumDOLLAR,dumCURRENCYBOARD,dumPEGGED,dumINTERMEDIATE,dumFLEXIBLE
0,111,1970,3.0,5316.3913,5337.804633,8.578550,0.011509,8.590059,NaN,1073.300,...,NaN,NaN,NaN,0.0,1.0,0,0,1,0,0
1,111,1971,3.0,5491.4455,5524.546653,8.610947,0.010061,8.621008,3.292726,1164.800,...,NaN,NaN,NaN,0.0,0.0,0,0,1,0,0
2,111,1972,3.0,5780.0483,5711.074540,8.662167,-0.010326,8.651841,5.255498,1279.100,...,NaN,NaN,NaN,0.0,0.0,0,0,1,0,0
3,111,1973,5.0,6106.3705,5896.843149,8.717088,-0.034744,8.682343,5.645666,1425.400,...,NaN,NaN,NaN,0.0,0.0,0,0,0,0,1
4,111,1974,5.0,6073.3628,6081.997072,8.711668,0.000735,8.712403,-0.540545,1545.200,...,NaN,NaN,NaN,0.0,1.0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10579,968,2019,4.0,759.7090,NaN,6.632935,NaN,NaN,3.853157,1063.795,...,.,0,0,0.0,0.0,0,0,0,1,0
10580,968,2020,4.0,731.7707,NaN,6.595467,NaN,NaN,-3.677500,1066.781,...,.,0,0,0.0,0.0,0,0,0,1,0
10581,968,2021,4.0,773.5467,NaN,6.650986,NaN,NaN,5.708892,1189.090,...,.,0,0,0.0,0.0,0,0,0,1,0
10582,968,2022,4.0,805.3165,NaN,6.691235,NaN,NaN,4.107031,1401.345,...,NaN,NaN,NaN,NaN,0.0,0,0,0,1,0
10583,968,2023,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0,0,0,1,0

In [26]:
dfCombined.to_excel('IFS-base.xlsx')