In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import statsmodels.tsa.filters.hp_filter as hpfilter
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [2]:
start_year = 1970
end_year = 2023
year_obs = end_year - start_year +1

In [3]:
dfWEObase = pd.read_excel('WEO-base.xlsx',index_col = 0)
WEO_list = sorted(list(set(dfWEObase['NAM'])))
dfWEObase

,NAM,YRS,REG,NGDP_R,NGDP_R_HP,NGDP_R_LN,NGDP_R_LN_GAP,NGDP_R_LN_HP,NGDP_RPCH,NGDP,...,CURCON2,CURCON3,KAPCON,BNKSTRT,GAP_US,dumDOLLAR,dumCURRENCYBOARD,dumPEGGED,dumINTERMEDIATE,dumFLEXIBLE
0,111,1970,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,1.0,NaN,0,0,1,0,0
1,111,1971,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,NaN,0,0,1,0,0
2,111,1972,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,NaN,0,0,1,0,0
3,111,1973,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,NaN,0,0,0,0,1
4,111,1974,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,1.0,NaN,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10579,968,2019,4.0,873.183,NaN,6.772145,NaN,NaN,3.853,1063.795,...,0,0,0.0,0.0,NaN,0,0,0,1,0
10580,968,2020,4.0,841.072,NaN,6.734677,NaN,NaN,-3.677,1066.781,...,0,0,0.0,0.0,NaN,0,0,0,1,0
10581,968,2021,4.0,889.088,NaN,6.790196,NaN,NaN,5.709,1189.090,...,0,0,0.0,0.0,NaN,0,0,0,1,0
10582,968,2022,4.0,929.945,NaN,6.835125,NaN,NaN,4.595,1409.784,...,NaN,NaN,NaN,0.0,NaN,0,0,0,1,0
10583,968,2023,4.0,949.569,NaN,6.856008,NaN,NaN,2.110,1582.601,...,NaN,NaN,NaN,0.0,NaN,0,0,0,1,0

In [4]:
dfIFSbase = pd.read_excel('IFS-base.xlsx',index_col = 0)
dfIFSbase

,NAM,YRS,REG,NGDP_R,NGDP_R_HP,NGDP_R_LN,NGDP_R_LN_GAP,NGDP_R_LN_HP,NGDP_RPCH,NGDP,...,CURCON1,CURCON2,CURCON3,KAPCON,BNKSTRT,dumDOLLAR,dumCURRENCYBOARD,dumPEGGED,dumINTERMEDIATE,dumFLEXIBLE
0,111,1970,3.0,5316.3913,5337.804633,8.578550,0.011509,8.590059,NaN,1073.300,...,NaN,NaN,NaN,0.0,1.0,0,0,1,0,0
1,111,1971,3.0,5491.4455,5524.546653,8.610947,0.010061,8.621008,3.292726,1164.800,...,NaN,NaN,NaN,0.0,0.0,0,0,1,0,0
2,111,1972,3.0,5780.0483,5711.074540,8.662167,-0.010326,8.651841,5.255498,1279.100,...,NaN,NaN,NaN,0.0,0.0,0,0,1,0,0
3,111,1973,5.0,6106.3705,5896.843149,8.717088,-0.034744,8.682343,5.645666,1425.400,...,NaN,NaN,NaN,0.0,0.0,0,0,0,0,1
4,111,1974,5.0,6073.3628,6081.997072,8.711668,0.000735,8.712403,-0.540545,1545.200,...,NaN,NaN,NaN,0.0,1.0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10579,968,2019,4.0,759.7090,NaN,6.632935,NaN,NaN,3.853157,1063.795,...,.,0,0,0.0,0.0,0,0,0,1,0
10580,968,2020,4.0,731.7707,NaN,6.595467,NaN,NaN,-3.677500,1066.781,...,.,0,0,0.0,0.0,0,0,0,1,0
10581,968,2021,4.0,773.5467,NaN,6.650986,NaN,NaN,5.708892,1189.090,...,.,0,0,0.0,0.0,0,0,0,1,0
10582,968,2022,4.0,805.3165,NaN,6.691235,NaN,NaN,4.107031,1401.345,...,NaN,NaN,NaN,NaN,0.0,0,0,0,1,0
10583,968,2023,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0,0,0,1,0

In [5]:
dfWolfbase  = pd.read_excel('Wolf-base.xlsx',index_col = 0)
Wolf_list = sorted(list(set(dfWolfbase['NAM'])))
dfWolfbase

,NAM,YRS,NGDP,NGDPPCH,NGDPPC,NGDPPCPCH,NGDP_R,NGDP_R_HP,NGDP_RPCH,NGDP_R_LN,...,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,GAP_US
0,111,1970,1040.0,NaN,5.068226,NaN,3578.0,3597.312305,NaN,8.182559,...,NaN,NaN,0.0,0.0,0.0,NaN,0.0,NaN,0.0,100.000000
1,111,1971,1129.0,8.557692,5.433109,7.199415,3698.0,3724.831844,3.353829,8.215547,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.000000
2,111,1972,1240.0,9.831709,5.904762,8.681092,3898.0,3852.158259,5.408329,8.268219,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.000000
3,111,1973,1386.0,11.774194,6.537736,10.719720,4123.0,3978.830110,5.772191,8.324336,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.000000
4,111,1974,1501.0,8.297258,7.014019,7.285134,4099.0,4104.844372,-0.582100,8.318498,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5506,968,1998,373800.0,47.805457,16591.211718,48.133476,371300.0,383164.547192,-4.794872,12.824766,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,25.483092
5507,968,1999,545700.0,45.987159,24264.117386,46.246807,366800.0,382207.563118,-1.211958,12.812572,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,25.483092
5508,968,2000,800300.0,46.655672,35616.377392,46.786206,373400.0,382161.260943,1.799346,12.830406,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,25.483092
5509,968,2001,1154000.0,44.195927,51471.900089,44.517505,393200.0,382745.640576,5.302625,12.882074,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,25.483092
5510,968,2002,1501000.0,30.069324,67128.801431,30.418347,409900.0,383593.089316,4.247202,12.923669,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,25.483092

In [6]:
dictWolf = {}
dfWolfextended = None
year_list = list(range(start_year, end_year+1))*len(WEO_list) 
country_list = []
for country in WEO_list:
    country_list += [country]*year_obs
    if country in Wolf_list:
        dictWolf[country] = pd.concat([dfWolfbase.loc[dfWolfbase['NAM']==country,:],
                                       pd.DataFrame(np.nan, index=list(range(2003,end_year+1)),columns=dfWolfbase.columns)],axis=0)
    else:
        dictWolf[country] = pd.DataFrame(np.nan, index=list(range(start_year,end_year+1)),columns=dfWolfbase.columns)
    if country == 111:
        dfWolfextended = dictWolf[country]
    else:
        dfWolfextended = pd.concat([dfWolfextended,dictWolf[country]],axis=0)

dfWolfextended['YRS'] = year_list
dfWolfextended['NAM'] = country_list
dfWolfextended.reset_index(drop = True, inplace = True)
        
dfWolfextended

,NAM,YRS,NGDP,NGDPPCH,NGDPPC,NGDPPCPCH,NGDP_R,NGDP_R_HP,NGDP_RPCH,NGDP_R_LN,...,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,GAP_US
0,111,1970,1040.0,NaN,5.068226,NaN,3578.0,3597.312305,NaN,8.182559,...,NaN,NaN,0.0,0.0,0.0,NaN,0.0,NaN,0.0,100.0
1,111,1971,1129.0,8.557692,5.433109,7.199415,3698.0,3724.831844,3.353829,8.215547,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
2,111,1972,1240.0,9.831709,5.904762,8.681092,3898.0,3852.158259,5.408329,8.268219,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
3,111,1973,1386.0,11.774194,6.537736,10.719720,4123.0,3978.830110,5.772191,8.324336,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
4,111,1974,1501.0,8.297258,7.014019,7.285134,4099.0,4104.844372,-0.582100,8.318498,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10579,968,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10580,968,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10581,968,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10582,968,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10583,968,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
dfWEObase.update(dfIFSbase,overwrite = False)
dfWEObase.update(dfWolfextended,overwrite = False)
dfWEObase

,NAM,YRS,REG,NGDP_R,NGDP_R_HP,NGDP_R_LN,NGDP_R_LN_GAP,NGDP_R_LN_HP,NGDP_RPCH,NGDP,...,CURCON2,CURCON3,KAPCON,BNKSTRT,GAP_US,dumDOLLAR,dumCURRENCYBOARD,dumPEGGED,dumINTERMEDIATE,dumFLEXIBLE
0,111,1970,3.0,5316.3913,5337.804633,8.578550,0.011509,8.590059,NaN,1073.300,...,NaN,NaN,0.0,1.0,100.0,0,0,1,0,0
1,111,1971,3.0,5491.4455,5524.546653,8.610947,0.010061,8.621008,3.292726,1164.800,...,NaN,NaN,0.0,0.0,100.0,0,0,1,0,0
2,111,1972,3.0,5780.0483,5711.074540,8.662167,-0.010326,8.651841,5.255498,1279.100,...,NaN,NaN,0.0,0.0,100.0,0,0,1,0,0
3,111,1973,5.0,6106.3705,5896.843149,8.717088,-0.034744,8.682343,5.645666,1425.400,...,NaN,NaN,0.0,0.0,100.0,0,0,0,0,1
4,111,1974,5.0,6073.3628,6081.997072,8.711668,0.000735,8.712403,-0.540545,1545.200,...,NaN,NaN,0.0,1.0,100.0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10579,968,2019,4.0,873.1830,NaN,6.772145,NaN,NaN,3.853000,1063.795,...,0,0,0.0,0.0,NaN,0,0,0,1,0
10580,968,2020,4.0,841.0720,NaN,6.734677,NaN,NaN,-3.677000,1066.781,...,0,0,0.0,0.0,NaN,0,0,0,1,0
10581,968,2021,4.0,889.0880,NaN,6.790196,NaN,NaN,5.709000,1189.090,...,0,0,0.0,0.0,NaN,0,0,0,1,0
10582,968,2022,4.0,929.9450,NaN,6.835125,NaN,NaN,4.595000,1409.784,...,NaN,NaN,NaN,0.0,NaN,0,0,0,1,0
10583,968,2023,4.0,949.5690,NaN,6.856008,NaN,NaN,2.110000,1582.601,...,NaN,NaN,NaN,0.0,NaN,0,0,0,1,0

In [8]:
dfWEObase.to_excel('CombinedData.xlsx')